__pycache__/soundUtils.cpython-310.pyc
sounds/Cello_41 - copia.aiff
sounds/Cello_41-old1 - copia.aiff
sounds/Cello_41-old1.aiff
sounds/Cello_41.aiff
sounds/Saw - copia.aiff
sounds/Saw.aiff
sounds/Tenor_57 - copia.aiff
sounds/Tenor_57-old1 - copia.aiff
sounds/Tenor_57-old1.aiff
sounds/Tenor_57.aiff
piano.py
